* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  font-family: sans-serif;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
}
.card {
  width: 15%;
  background-color: #fff;
  padding: 20px 15px;
  border-radius: 15px;
  text-align: center;
}
img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
h4 {
  margin: 10px 0;
  font-size: 25px;
}
p {
  margin-bottom: 10px;
  padding: 20px;
}
a {
  display: inline-block;
  padding:10px 15px;
  background-color: orange;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  transition: 200ms;
}
a:hover{
  background-color: rgb(251, 192, 81);
  color: white;
}
